.services {
    padding: 60px 20px;
    background-color: #f6b55a;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #0f2453;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.service-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #937c5b;
}

.service-card p {
    font-size: 16px;
    color: #555;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.button:hover {background-color: #3e8e41}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }